
div(class="layadmin-pagetabs" id="LAY_app_tabs")
    div(class="layui-tab" lay-allowclose="true" lay-filter="layadmin-layout-tabs")
        ul(class="layui-tab-title" id="LAY_app_tabsheader")
            li(lay-id="home/homepage.html" lay-attr="home/homepage.html" class="layui-this")
                i(class="layui-icon layui-icon-home")
                i(class="layui-icon layui-unselect layui-tab-close")