
div(class="layui-side layui-side-menu layui-bg-black")
    div(class="layui-side-scroll")
        ul(class="layui-nav layui-nav-tree" layui-filter="test")
            li(class="layui-nav-item layui-nav-itemed")
                a(class="" herf="javascript:;") 
                    i(class="layui-icon layui-icon-home")
                    cite 内部管理
                    span(class="layui-nav-more")
                dl(class="layui-nav-child")
                    dd
                        a(lay-href="/users/AdminUsers") 后台用户
                    dd
                        a(lay-href="/users/RoleGroups") 权限分组
                    dd
                        a(lay-href="/users/SystemUsers") 系统子账户管理
            li(class="layui-nav-item layui-nav-itemed")
                a(class="" herf="javascript:;") 所有商品
                    span(class="layui-nav-more")
                dl(class="layui-nav-child")
                    dd
                        a(herf="javascript:;") 列表一
                    dd
                        a(herf="javascript:;") 列表二
                    dd
                        a(herf="javascript:;") 列表三
            li(class="layui-nav-item layui-nav-itemed")
                a(class="" herf="javascript:;") 所有商品
                    span(class="layui-nav-more")
                dl(class="layui-nav-child")
                    dd
                        a(herf="javascript:;") 列表一
                    dd
                        a(herf="javascript:;") 列表二
                    dd
                        a(herf="javascript:;") 列表三
            span(class="layui-nav-bar")