doctype html
html
  head
    title= "润阳贷后台管理"
    link(rel='stylesheet', href='/css/layui.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/admin.css')
    script(src="/js/layui.js")
    script(src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js")
  body(class="layui-layout-body")

    block content

      
