extends ../layout

block content

    div(class="layui-fiuid")
        div(class="layui-card")
            div(class="layui-card-body")
                table(class="layui-table" lay-data="{url:'/demo/table/user/', page:true, id:'idTest'}" lay-filter="demo")
                    thead
                        tr
                            th(lay-data="{type:'checkbox', fixed: 'left'}")
                            th(lay-data="{field:'UserName'}") 用户名
                            th(lay-data="{field:'FullName'}") 姓名
                            th(lay-data="{field:'PhoneNumber'}") 手机
                            th(lay-data="{field:'IsDisable'}") 状态
                            th(lay-data="{field:'UserName'}") 绑定用户
                            th(lay-data="{field:'LastLoginTime'}") 最后登录时间
                            th(lay-data="{field:'UserName'}") 权限分组
                            th(lay-data="{field:'UserName'}") 权限
                            th(lay-data="{field:'UserName'}") 操作
            
    script.
        layui.use('table', function(){
            var table = layui.table;
            //监听表格复选框选择
            table.on('checkbox(demo)', function(obj){
                console.log(obj)
            });
            //监听工具条
            table.on('tool(demo)', function(obj){
                var data = obj.data;
                if(obj.event === 'detail'){
                layer.msg('ID：'+ data.id + ' 的查看操作');
                } else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
                } else if(obj.event === 'edit'){
                layer.alert('编辑行：<br>'+ JSON.stringify(data))
                }
            });
            
            var $ = layui.$, active = {
                getCheckData: function(){ //获取选中数据
                var checkStatus = table.checkStatus('idTest')
                ,data = checkStatus.data;
                layer.alert(JSON.stringify(data));
                }
                ,getCheckLength: function(){ //获取选中数目
                var checkStatus = table.checkStatus('idTest')
                ,data = checkStatus.data;
                layer.msg('选中了：'+ data.length + ' 个');
                }
                ,isAll: function(){ //验证是否全选
                var checkStatus = table.checkStatus('idTest');
                layer.msg(checkStatus.isAll ? '全选': '未全选')
                }
            };
            
            $('.demoTable .layui-btn').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
            });